
<div class="inme" ng-class="{'running': task.running}">
  <button class="start-btn" ng-click="toggleState(task)">
    <i ng-class="{'icon-play': !task.running, 'icon-pause': task.running}"></i>
  </button>
  <div class="slide">
    <div class="row">
      <i class="icon-bubble"></i>
      <input type="text" ng-change="save()" ng-model="task.name" placeholder="{{ $root.i18n.getMessage('addComment') }}" />
    </div>
    <div class="row">
      <i class="icon-time"></i>
      <input type="text" 
        class="timecode-input"
        ng-pattern="/^[0-9]{1,4}:[0-9]{1,2}:[0-9]{1,2}$/"
        ng-focus="timeFocus(task)"
        ng-blur="timeBlur(task)"
        ng-change="timeChange(task)"
        ng-model="formattedTime"
        ng-keydown="enterBlur($event)" />
    </div>
    <div class="row">
      <i title="Date Span"  class="icon-calendar2"></i>
      <span title="Date Span" class="lifespan">{{ task.initialStart | lifespan:task.secondsEpoch }}</span>
    </div>
    <div class="row" ng-show="$parent.currentProject.rate">
      <i class="dollar">$</i>
      <span class="total">{{ task.seconds | rate:$parent.currentProject.rate | currency:$root.i18n.getMessage('currency') }}</span>
    </div>
    <button class="remove" ng-show="hideDelete" ng-click="hideDelete = false"><i class="icon-cancel"></i></button>
  </div>
  <aside class="pane remove-task" ng-hide="hideDelete">
    <div class="inner">
      <p>{{ $root.i18n.getMessage('deleteTaskConfirmDescription') }}</p>
      <button class="yes remove-btn" ng-click="remove(task)"><span>{{ $root.i18n.getMessage('deleteTaskConfirmYes') }}</span></button>
      <button class="close action-btn" ng-click="hideDelete = true">{{ $root.i18n.getMessage('deleteTaskConfirmCancel') }}</button>
    </div>
  </aside>
</div>
