<div class="inme">
  <button class="start-btn" ng-click="toggleState(task)">
    <i ng-class="{'icon-play': !task.running, 'icon-pause': task.running}"></i>
  </button>
  <div class="slide">
    <div class="row">
      <input type="text" ng-change="save()" ng-model="task.name" placeholder="Add Comment" />
    </div>
    <div class="row">
      <input type="text" ng-focus="timeFocus(task)" ng-blur="timeBlur(task)" value="{{ task.seconds | timespan }}" />
    </div>
    <div class="row">
      <input type="text" value="{{ task | lifespan }}" />
    </div>
    <div class="row" ng-hide="!project.rates">
      <span class="total">{{ task.seconds | rate:project.rate | currency:$ }}</span>
    </div>
  </div>
</div>
