/***************************************
 * Basic Resets
 */
html { overflow-y: auto; overflow-x: hidden; }

*:focus { outline: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }


/***************************************
 * Universial Flavor
 */
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  background: #333;
  color: #67bfa7;
  font-family: 'latolight';
}
html { background: #333; }
input[type="text"], input[type="number"] {
  background: transparent;
  border: none;
}

/* ::-webkit-scrollbar { */
/*   height: 10px; */
/*   width: 10px; */
/*   background-color: #333; */
/* } */
/*  */
/* ::-webkit-scrollbar-thumb { */
/*   background: #222; */
/*   -webkit-border-radius: 5px; */
/*   height: 50px; */
/* } */
/*  */
/* ::-webkit-scrollbar-track { */
/*   background-color: inherit; */
/* } */
/* ::-webkit-input-placeholder { color: #777; } */

a { color: #67bfa7; text-decoration: none; transition: all 0.2s; }
button { cursor: pointer; border: none; padding: 0; background: transparent; }
input { color: #67bfa7; transition: all 0.2s; }
input:focus { color: #f3cf5b !important; }

button:hover,
input:hover,
a:hover { color: #d2f5ec; }

.remove-btn { font-family: 'latobold'; color: #ee0000; }
.remove-btn:hover { color: #e13d3d; }
.action-btn { font-family: 'latobold'; }
.ui-sortable { cursor: move; }


/***************************************
 * Info Bar
 */
.infobar { padding: 10px 0 10px; -webkit-app-region: drag; }
.infobar:before,
.infobar:after { content: " "; display: table; }
.infobar:after { clear: both; }
.infobar .name { position: absolute; top: 21px; left: 46px; white-space: nowrap; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6); }
.infobar strong { font-family: 'latobold'; }
.infobar .menu { position: absolute; top: 14px; left: 13px; font-size: 30px; }
.infobar .menu.go-back { font-size: 20px; top: 18px; left: 23px; }
.infobar .minimize-btn { position: absolute; right: 35px; font-size: 24px; top: 11px; }
.infobar .quit-btn { position: absolute; right: 18px; font-size: 16px; top: 14px; }
.infobar .new-form { padding: 10px; margin: 55px 15px 4px; -webkit-app-region: no-drag; background: #222; border-bottom: 3px solid #136972; }
.infobar .new-form input { padding: 5px; font-size: 20px; font-family: 'latobold'; display: block; width: 100%; }
.infobar small { font-size: 10px; float: right; margin: 2px 16px 4px 0; color: #777; display: block; }

/***************************************
 * Content
 */
.content-slider { position: fixed; top: 152px; bottom: 90px; width: 100%; }
.project-list-container, .task-list-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  -webkit-app-region: no-drag;
  transform: translateX(0);
  transition: transform 0.19s ease-in-out;
}
body.no-projects .task-list-container,
body.no-projects .project-list-container { transition: none; }

body.no-projects .task-list-container,
body.no-projects .project-list-container,
body.projects .task-list-container,
body.projects .project-list-container { transform: translateX(100%); }

.project-list-container { left: -100%; }

/***************************************
 * My Projects
 */
.project-list-container .projects-container { padding: 0; }
.project-list-container header { padding: 18px 0 10px; margin: 0 15px; border-bottom: 1px solid #4c4f50; }
.project-list-container header input { font-size: 18px; width: 79%; display: inline; }
.project-list-container header input::-webkit-input-placeholder { color: #999; }
.project-list-container header button { float: right; font-size: 31px; }
.project-list-container .no-projects-box { padding: 50px 0; text-align: center; }
.project-list-container .no-projects-box i { font-size: 40px; color: #136972; }
.project-list-container .btn-wrap { text-align: right; }
.project-list-container .add-project-btn { text-align: center; padding: 10px 30px; background: #111; color: white; margin: 10px auto; font-size: 14px; display:block; line-height: 30px; }
.project-list-container .add-project-btn:hover { background: black; }
.project-list-container .add-project-btn i { font-size: 30px; position: relative; bottom: -4px; }
.project-list-container .add-project-btn span { position: relative; top: -3px }
.project-list-container .list { list-style: none; margin: 0 15px; padding: 0; }
.project-list-container .inme { padding: 10px 0; position: relative; border-bottom: #555 1px dashed; font-size: 13px; }
.project-list-container .ui-sortable-helper { background: #333; }
.project-list-container .project-title { width: 50%; font-size: 24px; font-family: 'latobold'; display: block; margin-bottom: 10px; }
.project-list-container .project-title:hover { display: block; }
.project-list-container .info input::-webkit-input-placeholder { color: #67bfa7; font-style: italic; }
.project-list-container .info input { background: #0d4e55; padding: 4px; display: inline-block; }
.project-list-container .info .open-btn { font-size: 30px; position: absolute; right: 18px; top: 45%; }
.project-list-container .info .open-btn:hover { }
.project-list-container .info .rate-wrap { margin-right: 15px; }
.project-list-container .info .rate-wrap .num { width: 28px; }
.project-list-container .info .rate-wrap .num::-webkit-outer-spin-button,
.project-list-container .info .rate-wrap .num::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.project-list-container .info .spreadsheet { width: 140px; margin-right: 5px; }
.project-list-container .info .deleteBtn { font-size: 12px; display: block; margin: 13px 0 0; }
.project-list-container .info .deleteBtn:hover { color: #f07444; }
.project-list-container .pane { margin-right: 39px; }
.project-list-container .pane button { margin-right: 4px; font-family: 'latobold'; border-bottom: 1px solid transparent; }
.project-list-container .pane button:hover { border-bottom: 1px solid; border-color: auto; }

/***************************************
 * Task List
 */
@-webkit-keyframes pulsate {
  0% { background: rgba(0,0,0,.15); }
  50% { background: #651c00; }
  100% { background: rgba(0,0,0,.15); }
}
.task-list-container .nada-box,
.task-list-container .no-task-box { height: 255px; text-align: center; padding: 90px 0 0; }
.task-list-container .no-task-box { height: auto; }
.task-list-container .nada-box p,
.task-list-container .no-task-box p { margin: 0; padding: 15px 0; }
.task-list-container .nada-box i,
.task-list-container .no-task-box i { font-size: 40px; color: #136972; }
.task-list { list-style: none; margin: 0 15px; padding: 0; }
.task-list li { margin: 0 0 6px; font-size: 13px; }
.task-list .inme:before,
.task-list .inme:after { content: " "; display: table; }
.task-list .inme:after { clear: both; }
.task-list .inme { position: relative; background: rgba(0,0,0,0.15); border-bottom: 2px solid #111; }
.task-list .inme.running { -webkit-animation: pulsate 2s ease-in; -webkit-animation-iteration-count: infinite; }
.task-list .start-btn { color: #CCC; line-height: 81px; background: #222; position:absolute; top: 0; bottom: 0; left: 0; width: 54px; font-size: 30px; }
.task-list .inme.running .start-btn { color: #f3cf5b; }
.task-list .slide { margin-left: 57px; padding: 5px 0; }
.task-list .remove { position: absolute; top: 10px; right: 10px; }
.task-list .row { white-space: nowrap; padding: 0; font-size: 13px; }
.task-list .row:last-child { margin-bottom: 0; }
.task-list .row i { display:inline-block; font-style: normal; width: 26px; text-align: center; }
.task-list .row span { cursor: move; color: #777; padding: 3px 0; display: inline-block; }
.task-list .row input[type='text'] { width: 72%; padding: 3px 0; display: inline-block; }
.task-list .row input.timecode-input { width: 75px; }
.task-list .row .dollar { }
.task-list-container .add-task-btn { background: #111; color: white; margin: 15px auto 0; display: block; padding: 9px 20px; font-size: 15px; }
.task-list-container .add-task-btn i { font-size: 25px; }
.task-list-container .add-task-btn span { position: relative; top: -6px; }
.task-list .pane { margin-left: 72px; padding: 10px 0 10px 0; border-top: dashed 1px #136972; }
.task-list .pane .inner { padding: 0 13px 0 0; }
.task-list .pane p { margin: 0 0 10px; padding: 0; }
.task-list .pane .remove-btn { margin-right: 8px; }



/***************************************
 * Footer
 */
.footer { position: fixed; background: #333; bottom: 0; left: 0; right: 0; padding: 0 0 25px; text-align: center; color: #999; -webkit-app-region: drag; }
.footer h3 { font-size: 12px; margin: 13px 0; text-align: center; font-family: 'latolight'; text-shadow: 0px 1px 0px rgba(0,0,0, 0.9); }
.footer h3 span { display: inline-block; padding: 5px; }
.footer a { font-family: 'latobold'; color: #666; }
.footer a:hover { color: #999; }
.footer .shout-out { font-size: 11px; letter-spacing: 1px; color: #666; }
