/***************************************
 * Basic Resets
 */
*:focus { outline: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }


/***************************************
 * Univerial Flavor
 */
body {
  padding: 0;
  margin: 0;
  width: 400px;
  background: #101d29;
  color: #67bfa7;
  font-family: 'latolight';
}
input[type="text"], input[type="number"] {
  background: transparent;
  border: none;
}

::-webkit-input-placeholder { color: #777; }

a { color: #67bfa7; text-decoration: none; }

button { cursor: pointer; border: none; padding: 0; background: transparent; }

input { color: #67bfa7; }
input:focus { color: #f3cf5b !important; }

button:hover,
input:hover,
a:hover { color: #d2f5ec; }

.remove-btn { font-family: 'latobold'; color: #ee0000; }
.remove-btn:hover { color: #e13d3d; }

.action-btn { font-family: 'latobold'; }

/***************************************
 * Info Bar
 */
.infobar {
  /* height: 117px; */
  background: black;
  padding: 10px 0 10px;
}
.infobar:before,
.infobar:after { content: " "; display: table; }
.infobar:after { clear: both; }

.infobar input[type="text"] {
  float: left;
  font-size: 30px;
  font-family: 'latolight';
  width: 65%;
  margin-left: 13px;
}
.infobar .my-projects-btn { float: right; clear:both; display:block; font-size: 13px; padding: 0; margin: 14px 13px 10px 0; text-transform: uppercase; }
.infobar .my-projects-btn i { font-size: 15px; position: relative; bottom: -2px; }
.infobar .name { margin: 0 0 7px; }
.infobar h3 { margin: 0; font-family: 'latolight'; border-top: 1px dashed #1c3042; border-bottom: 1px dashed #1c3042; clear:both; padding: 10px; font-size: 13px; }
.infobar h3 strong { font-family: 'latobold'; }
.infobar .info strong { font-family: 'latolight'; }
.infobar .info { font-size: 12px; }
.infobar h3 i { font-style: normal; text-align: right; }

/***************************************
 * My Projects
 */
.my-projects {
  z-index: 5;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(24, 24, 24, .90);
  overflow: scroll;
}
.my-projects .projects-container { padding: 0 23px; }
.my-projects header { padding: 16px 0; border-bottom: 1px solid #4c4f50; }
.my-projects header input { font-size: 24px; display: inline; }
.my-projects header input::-webkit-input-placeholder { color: #67bfa7; }
.my-projects header button { float: right; font-size: 31px; }

.my-projects .no-projects-box { padding: 15% 0; text-align: center; }
.my-projects .no-projects-box i { font-size: 40px; color: #136972; }

.my-projects .add-project-btn { text-align: center; padding: 10px 10px; margin: 10px 0; font-size: 20px; background: #121212; display:block; width: 100%; line-height: 30px; }
.my-projects .add-project-btn:hover { background: black; }
.my-projects .add-project-btn i { margin-right: 6px; font-size: 30px; position: relative; bottom: -4px; }
.my-projects .add-project-btn span { position: relative; top: -3px }

.my-projects .list { list-style: none; margin: 0; padding: 0; }
.my-projects .inme { padding: 20px 0; position: relative; border-bottom: #4c4f50 1px solid; }

.my-projects .project-title { width: 85%; font-size: 30px; font-family: 'latobold'; display: block; margin-bottom: 10px; }
.my-projects .project-title:hover { display: block; }

.my-projects .info input::-webkit-input-placeholder { color: #67bfa7; font-style: italic; }
.my-projects .info input { background: #0d4e55; padding: 4px; display: inline-block; }
.my-projects .info .open-btn { font-size: 30px; position: absolute; right: 0; top: 45%; }
.my-projects .info .open-btn:hover { }
.my-projects .info .rate-wrap { margin-right: 15px; }
.my-projects .info .rate-wrap .num { width: 28px; }
.my-projects .info .rate-wrap .num::-webkit-outer-spin-button,
.my-projects .info .rate-wrap .num::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.my-projects .info .spreadsheet { width: 140px; margin-right: 5px; }
.my-projects .info .deleteBtn { font-size: 12px; }
.my-projects .info .deleteBtn:hover { color: #f07444; }

.my-projects .pane { margin-right: 39px; }
.my-projects .pane button { margin-right: 20px; font-family: 'latobold'; }

/***************************************
 * Task List
 */
@-webkit-keyframes pulsate {
  0% { background: #222; }
  50% { background: #651c00; }
  100% { background: #222; }
}
.task-list-container { min-height: 400px; background: black; }
.task-list-container .no-task-box { text-align: center; padding: 14% 0 0; }
.task-list-container .no-task-box p { margin: 0; padding: 15px 0; }
.task-list-container .no-task-box i { font-size: 40px; color: #136972; }
.task-list { list-style: none; margin: 0; padding: 0; }
.task-list li { margin: 0 0 2px; }
.task-list .inme:before,
.task-list .inme:after { content: " "; display: table; }
.task-list .inme:after { clear: both; }
.task-list .inme { background: #222; position: relative; }
.task-list .inme.running { -webkit-animation: pulsate 2s ease-in; -webkit-animation-iteration-count: infinite; }
.task-list .start-btn { color: #f1f1f1; position:absolute; top: 0; bottom: 0; left: 0; width: 72px; background: black; font-size: 30px; }
.task-list .inme.running .start-btn { color: #f3cf5b; }
.task-list .slide { margin-left: 80px; padding: 5px 0; }
.task-list .remove { position: absolute; top: 10px; right: 10px; }
.task-list .row { padding: 1px 0; font-size: 13px; }
.task-list .row:last-child { margin-bottom: 0; }
.task-list .row i { display:inline-block; font-style: normal; width: 26px; text-align: center; }
.task-list .row span { cursor: default; color: #777; }
.task-list .row input[type='text'] { width: 244px; }
.task-list .row .dollar { }
.task-list-container .add-task-btn { margin: auto; display: block; padding: 20px 0; font-size: 20px; }
.task-list-container .add-task-btn i { font-size: 30px; }
.task-list-container .add-task-btn span { position: relative; top: -6px; }
.task-list .pane { margin-left: 72px; padding: 20px 0 20px 0; border-top: dashed 1px #136972; }
.task-list .pane .inner { padding: 0 20px; }
.task-list .pane p { margin: 0 0 10px; padding: 0; }
.task-list .pane .remove-btn { margin-right: 8px; }



/***************************************
 * Footer
 */
.footer { padding: 0 0 25px; text-align: center; color: #7f959f; }
.footer .connection-status { background: #112c38; padding: 15px 0; margin: 0 0 10px; }
.footer a { font-family: 'latobold'; }
.footer .shout-out { font-size: 11px; letter-spacing: 1px; }
