@font-face {
    font-family: 'latobold';
    src: url('./font/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('./font/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight_italic';
    src: url('./font/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oleo';
    src: url('./font/oleo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'oleo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-uniE61E:before {
  content: "\e61e";
}
.icon-uniE61A:before {
  content: "\e61a";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-comment:before {
  content: "\f075";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-h-square:before {
  content: "\f0fd";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-slash:before {
  content: "\f131";
}
.icon-toggle-down:before {
  content: "\f150";
}
.icon-menu:before {
  content: "\e618";
}
.icon-comments:before {
  content: "\e611";
}
.icon-file:before {
  content: "\e61b";
}
.icon-upload:before {
  content: "\e600";
}
.icon-cog:before {
  content: "\e601";
}
.icon-menu2:before {
  content: "\e617";
}
.icon-play:before {
  content: "\e613";
}
.icon-pause:before {
  content: "\e614";
}
.icon-play2:before {
  content: "\e615";
}
.icon-pause2:before {
  content: "\e616";
}
.icon-newtab:before {
  content: "\e61c";
}
.icon-google-drive:before {
  content: "\e602";
}
.icon-bubble:before {
  content: "\e612";
}
.icon-calendar2:before {
  content: "\e610";
}
.icon-file2:before {
  content: "\e61d";
}
.icon-cancel:before {
  content: "\e603";
}
.icon-plus:before {
  content: "\e604";
}
.icon-minus:before {
  content: "\e605";
}
.icon-cog2:before {
  content: "\e606";
}
.icon-warning:before {
  content: "\e607";
}
.icon-time:before {
  content: "\e608";
}
.icon-upload2:before {
  content: "\e609";
}
.icon-list:before {
  content: "\e619";
}
.icon-hourglass:before {
  content: "\e60a";
}
.icon-paperplane:before {
  content: "\e60b";
}
.icon-popout:before {
  content: "\e60c";
}
.icon-error:before {
  content: "\e60d";
}
.icon-add:before {
  content: "\e60e";
}
.icon-minus2:before {
  content: "\e60f";
}
.icon-calendar3:before {
  content: "\e00d";
}
.icon-hourglass2:before {
  content: "\e01f";
}
.icon-clock:before {
  content: "\e055";
}
.icon-alarmclock:before {
  content: "\e059";
}
