<!doctype html>
<html lang="en" ng-app="oleo">
<head>
  <meta charset="utf-8">
  <title>óleo</title>
  <!-- build:css style/app.min.css -->
  <link rel="stylesheet" href="style/fonts.css"/>
  <link rel="stylesheet" href="style/app.css"/>
  <!-- endbuild -->
</head>
<body ng-controller="MainController">
  
  <header>
    <input type="text" ng-change="updateUser()" ng-model="user.name" />
    <h1></h1>
    <div class="projects-selector">
      <a href="">Project <i class="icon-toggle-down"></i></a>
      <ul class="list" ng-repeat="proj in projects track by $index">
        <project project="proj"></project>
      </ul>
      <button ng-click="addProject()"><i class="icon-file2"></i><span>Add Project</span></button>
    </div>
    <h3>{{user.currentProject}}</h3>
  </header>


  <main>
    
  </main>
  

  <!-- build:js app.min.js -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="factory/project.js"></script>
  <script src="factory/task.js"></script>
  <script src="service/storage.js"></script>
  <script src="service/google.js"></script>
  <script src="service/spreadsheet.js"></script>
  <script src="directive/project.js"></script>
  <script src="directive/task.js"></script>
  <script src="controller/main.js"></script>
  <!-- endbuild -->
</body>
</html> 
