<!doctype html>
<html lang="en" ng-app="oleo" ng-csp="">
<head>
  <meta charset="utf-8">
  <title>óleo</title>
  <!-- build:css style/app.min.css -->
  <link rel="stylesheet" href="style/fonts.css"/>
  <link rel="stylesheet" href="../bower_components/angular/angular-csp.css"/>
  <link rel="stylesheet" href="style/app.css"/>
  <!-- endbuild -->
</head>
<body ng-controller="MainController" ng-class="{projects: displayProjects, 'no-projects': status==2}">

  <header class="infobar">
    <button class="minimize-btn" ng-click="minimize()">&ndash;</button>
    <button class="quit-btn" ng-click="quit()">x</button>
    <button class="menu" ng-show="!displayProjects && status!=2" ng-click="displayProjects=true"><i class="icon-uniE61A"></i></button>
    <button class="menu go-back" ng-show="displayProjects && status!=2" ng-click="displayProjects=false"><i class="icon-chevron-right"></i></button>
    <button class="name" ng-click="displayProjects=false" ng-show="status!=2">
      <span ng-if="displayProjects">Back to&nbsp;&nbsp;<strong>{{ currentProject.name }}</strong></span>
    </button>
    <button class="name" ng-click="displayProjects=true" ng-show="status!=2">
      <span ng-if="!displayProjects">{{ $root.i18n.getMessage('allProjects') }}</span>
    </button>
    <form class="new-task-form new-form" ng-submit="addTask()" ng-show="!displayProjects">
      <input type="text" placeholder="{{ $root.i18n.getMessage('startTaskPlaceholder') }} {{ currentProject.name }}." ng-model="newTaskName" class="new-input" />
    </form>
    <form class="new-project-form new-form" ng-submit="addProject()" ng-show="displayProjects">
      <input type="text" placeholder="{{ $root.i18n.getMessage('startProjectPlaceholder') }}" ng-model="newProjectName" class="new-input" />
    </form>
    <small>{{ $root.i18n.getMessage('submitHelperText') }}</small>
  </header>

  <main class="content-slider">
    <div class="task-list-container">
      <div class="no-task-box" ng-show="status==1">
        <i class="icon-star-half-empty"></i>
        <p>{{ $root.i18n.getMessage('noTasks') }}</p>
      </div>
      <ul ui-sortable="sortableOptions" ng-model="tasks" class="task-list"  ng-if="currentProject">
        <li task="task" ng-repeat="task in tasks"></li>
      </ul>
    </div>
    <div class="project-list-container">
      <div class="no-projects-box" ng-hide="projects.length">
        <i class="icon-star-half-empty"></i>
        <p>{{ $root.i18n.getMessage('noTasksOrProjects') }}</p>
      </div>
      <ul class="list" ui-sortable="sortableOptions" ng-model="projects">
        <li project="proj" ng-repeat="proj in projects"></li>
      </ul>
    </div>
  </main>

  <footer class="footer">
    <h3 ng-if="currentProject"><span class="time">
      <i class="icon-time"></i>&nbsp;{{ currentProject.totalTime | timespan }}</span><span class="amount">
      ${{ currentProject.totalTime | rate:currentProject.rate | currency:$root.i18n.getMessage('currency') }}</span><span class="drive">
      <i class="icon-google-drive"></i>&nbsp;{{ $root.connectionStatus }}</span></h3>
    <div class="shout-out">
      <span>by <a href="http://lev-interactive.com/?r=oleo" target="_blank">Lev Interactive</a></span>
    </div>
  </footer>

  <!-- build:js app.min.js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/jquery-ui/ui/core.js"></script>
  <script src="../bower_components/jquery-ui/ui/widget.js"></script>
  <script src="../bower_components/jquery-ui/ui/mouse.js"></script>
  <script src="../bower_components/jquery-ui/ui/sortable.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-sortable/sortable.js"></script>
  <script src="../bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
  <script src="oleo.js"></script>
  <script src="provider/value/storage.js"></script>
  <script src="provider/value/identity.js"></script>
  <script src="provider/value/browser-action.js"></script>
  <script src="provider/value/i18n.js"></script>
  <script src="provider/value/idle.js"></script>
  <script src="provider/value/crud-proto.js"></script>
  <script src="provider/factory/project.js"></script>
  <script src="provider/factory/task.js"></script>
  <script src="provider/factory/ticker.js"></script>
  <script src="provider/service/storage.js"></script>
  <script src="provider/service/auth.js"></script>
  <script src="provider/service/project.js"></script>
  <script src="provider/service/task.js"></script>
  <script src="provider/service/spreadsheet.js"></script>
  <script src="filter/format-life-span.js"></script>
  <script src="filter/format-rate.js"></script>
  <script src="filter/format-time-span.js"></script>
  <script src="directive/project.js"></script>
  <script src="directive/task.js"></script>
  <script src="controller/main.js"></script>
  <!-- endbuild -->
</body>
</html>
