<!doctype html>
<html lang="en" ng-app="oleo" ng-csp="">
<head>
  <meta charset="utf-8">
  <title>óleo</title>
  <!-- build:css style/app.min.css -->
  <link rel="stylesheet" href="style/fonts.css"/>
  <link rel="stylesheet" href="../bower_components/angular/angular-csp.css"/>
  <link rel="stylesheet" href="style/app.css"/>
  <!-- endbuild -->
</head>
<body ng-controller="MainController">
  <header>
    <input type="text" ng-model="user.name" placeholder="Your Name" />
    <div class="projects-selector">
      <a href="">Project <i class="icon-toggle-down"></i></a>
      <ul class="list" ng-repeat="proj in projects | orderBy:weight">
        <li project="proj"></li>
      </ul>
      <button ng-click="addProject()"><i class="icon-file2"></i><span>Add Project</span></button>
    </div>
    <h3 ng-if="current.project">{{ current.project.name }}</h3>
    <h3 ng-if="!current.project">No project selected!</h3>
  </header>

  <main class="task-list-container" ng-if="current.project">
    <ul class="list" ng-repeat="task in tasks | filter:{projectId:current.project.id} | orderBy:weight">
      <li task="task"></li>
    </ul>
    <button ng-click="addTask()" ng-if="current.project"><i class="icon-add"></i> New Task</button>
  </main>

  <footer>
    <div class="connected-status">
      <i class="icon-google-drive"></i>
      &nbsp;
      <span>{{ connectedStatus }}</span>
    </div>
    <div class="shout-out">
      <span>by <a href="http://lev-interactive.com/?r=oleo" target="_blank">Lev Interactive</a></span>
    </div>
  </footer>

  <!-- build:js app.min.js -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="factory/project.js"></script>
  <script src="factory/task.js"></script>
  <script src="service/crud-proto.js"></script>
  <script src="service/storage.js"></script>
  <script src="service/auth.js"></script>
  <script src="service/project.js"></script>
  <script src="service/task.js"></script>
  <script src="service/spreadsheet.js"></script>
  <script src="filter/format-life-span.js"></script>
  <script src="filter/format-rate.js"></script>
  <script src="filter/format-time-span.js"></script>
  <script src="directive/project.js"></script>
  <script src="directive/task.js"></script>
  <script src="controller/main.js"></script>
  <!-- endbuild -->
</body>
</html> 
